<!DOCTYPE html>
<html>
<head>
    <title>Perfect Calculator</title>
</head>
<body>
    <h2>Calculator</h2>

    <input type="number" id="num1" placeholder="Enter first number">
    <br><br>

    <input type="number" id="num2" placeholder="Enter second number">
    <br><br>

    <label>Select Operator:</label>
    <select id="operator">
        <option value="add">+</option>
        <option value="sub">−</option>
        <option value="mul">×</option>
        <option value="div">÷</option>
    </select>

    <br><br>

    <button type="button" onclick="getResult()">= Get Result</button>

    <h3 id="result"></h3>

    <script>
        function getResult() {
            const a = document.getElementById("num1").value;
            const b = document.getElementById("num2").value;
            const op = document.getElementById("operator").value;

            fetch("/calculate", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    num1: a,
                    num2: b,
                    operation: op
                })
            })
            .then(res => res.json())
            .then(data => {
                document.getElementById("result").innerText =
                    "Result = " + data.result;
            });
        }
    </script>
</body>
</html>
